/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Mason Chronicles";
  src: url("../public/fonts/masonchronicles.ttf");
}
:root {
  --font-family: "Russo One", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Mason Chronicles", sans-serif;
  --font3: "Manrope", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: #000;
  color: #fff;
}

.token {
  height: 113px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .token {
    height: 66px;
  }
}
.token button {
  transition: scale 200ms ease;
}
.token button:hover {
  scale: 1.1;
}
.token button:active {
  scale: 1;
}

.tooltip {
  width: 341px;
  height: 50px;
  border-radius: 30px;
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #060606;
  font-family: var(--second-family);
  font-weight: 600;
  position: fixed;
  top: 30px;
  left: 50%;
  translate: -50% 0;
  z-index: 21;
  opacity: 0;
  transition: all 400ms ease;
}
@media screen and (max-width: 779px) {
  .tooltip {
    top: 22px;
  }
}
.tooltip span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  translate: -21px 0;
}
.tooltip svg {
  margin-left: 23px;
}

.tooltip.visible {
  display: flex;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 53px;
  z-index: 10;
}
@media screen and (max-width: 779px) {
  .header {
    top: 0;
  }
}

.header__container {
  width: min(1760px, 100%);
  margin-left: auto;
  margin-right: auto;
}

.header__top {
  display: none;
  font-family: var(--second-family);
}
@media screen and (max-width: 779px) {
  .header__top {
    padding: 15px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__bottom {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 779px) {
  .header__bottom {
    padding-top: 30px;
    background-color: #000;
  }
}

@media screen and (max-width: 779px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation ol {
  display: flex;
  gap: 32px;
}
.header__navigation ol a {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 21px;
  color: #fff;
  transition: color 200ms ease;
}
.header__navigation ol a:hover {
  color: #ccc;
}
.header__navigation ol a:active {
  color: #fff;
}

.header__socials {
  display: flex;
  gap: 12px;
}
.header__socials a:hover svg {
  transition: scale 200ms ease;
  scale: 1.15;
}
.header__socials a:active {
  background-color: #fff;
}

.home {
  min-height: 1003px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1439px) {
  .home {
    min-height: 800px;
  }
}
@media screen and (max-width: 1079px) {
  .home {
    min-height: 1030px;
  }
}
.home:before {
  content: "";
  width: 100%;
  height: 310px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
@media screen and (max-width: 779px) {
  .home:before {
    display: none;
  }
}
.home::after {
  content: "";
  width: 100%;
  height: 310px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
.home img {
  user-select: none;
}

.home__title div:nth-of-type(1) {
  position: absolute;
  top: 370px;
  left: 84px;
  z-index: 2;
}
@media screen and (max-width: 1439px) {
  .home__title div:nth-of-type(1) {
    top: 250px;
  }
}
@media screen and (max-width: 1079px) {
  .home__title div:nth-of-type(1) {
    top: 150px;
    left: 50%;
    translate: -50% 0;
  }
}
@media screen and (max-width: 779px) {
  .home__title div:nth-of-type(1) {
    top: 176px;
  }
}
.home__title div:nth-of-type(1) > span {
  display: block;
}
.home__title div:nth-of-type(1) > span:nth-of-type(1) {
  font-size: 2.71vw;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .home__title div:nth-of-type(1) > span:nth-of-type(1) {
    font-size: 23px;
  }
}
.home__title div:nth-of-type(1) > span:nth-of-type(2) {
  line-height: 80%;
  font-size: 10.47vw;
  text-transform: uppercase;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 779px) {
  .home__title div:nth-of-type(1) > span:nth-of-type(2) {
    font-size: 88px;
  }
}
.home__title div:nth-of-type(2) {
  position: absolute;
  top: 465px;
  left: 50%;
  z-index: 2;
  translate: -52% 0;
  font-size: 3.29vw;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1439px) {
  .home__title div:nth-of-type(2) {
    top: 320px;
  }
}
@media screen and (max-width: 1079px) {
  .home__title div:nth-of-type(2) {
    top: 50%;
    z-index: 3;
    translate: -50% -50%;
  }
}
@media screen and (max-width: 779px) {
  .home__title div:nth-of-type(2) {
    font-size: 63px;
  }
}
.home__title div:nth-of-type(3) > span {
  display: block;
}
.home__title div:nth-of-type(3) > span:nth-of-type(1) {
  line-height: 80%;
  font-family: var(--third-family);
  font-size: 7.97vw;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 384px;
  right: 120px;
  z-index: 2;
}
@media screen and (max-width: 1439px) {
  .home__title div:nth-of-type(3) > span:nth-of-type(1) {
    top: 280px;
    right: 93px;
  }
}
@media screen and (max-width: 1079px) {
  .home__title div:nth-of-type(3) > span:nth-of-type(1) {
    top: 700px;
    right: 50%;
    translate: 50% 0;
    z-index: 3;
  }
}
@media screen and (max-width: 779px) {
  .home__title div:nth-of-type(3) > span:nth-of-type(1) {
    top: 657px;
    font-size: 66px;
  }
}
.home__title div:nth-of-type(3) > span:nth-of-type(2) {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 2.66vw;
  text-transform: uppercase;
  text-wrap: nowrap;
  text-align: center;
  color: #b71b1b;
  position: absolute;
  top: 540px;
  right: 240px;
  z-index: 3;
}
@media screen and (max-width: 1439px) {
  .home__title div:nth-of-type(3) > span:nth-of-type(2) {
    top: 370px;
    right: 200px;
  }
}
@media screen and (max-width: 1079px) {
  .home__title div:nth-of-type(3) > span:nth-of-type(2) {
    top: 770px;
    right: 50%;
    translate: 50% 0;
  }
}
@media screen and (max-width: 779px) {
  .home__title div:nth-of-type(3) > span:nth-of-type(2) {
    top: 724px;
    font-size: 22px;
  }
}

.home__description {
  max-width: 629px;
  position: absolute;
  bottom: 280px;
  left: 50%;
  translate: -50% 0;
  z-index: 3;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .home__description {
    max-width: 345px;
    width: 100%;
    bottom: 138px;
  }
}
.home__description:before {
  content: "";
  width: 141px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: -30px;
  left: 50%;
  translate: -50% 0;
}
.home__description span {
  font-weight: 700;
}

.home__btn {
  width: 188px;
  height: 55px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font3);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  position: absolute;
  bottom: 183px;
  left: 50%;
  translate: -50% 0;
  z-index: 3;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .home__btn {
    width: 165px;
    height: 49px;
    border-radius: 8px;
    font-size: 15px;
    bottom: 64px;
  }
}
.home__btn:hover {
  filter: brightness(0.8);
}
.home__btn:active {
  filter: brightness(1);
}

.home__left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../public/img/home/home_left_bg.png");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1079px) {
  .home__left {
    width: 100%;
    height: 50%;
  }
}
.home__left picture {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media screen and (max-width: 1079px) {
  .home__left picture {
    left: 50%;
    translate: -50% 0;
  }
  .home__left picture img {
    min-width: 540px;
  }
}
@media screen and (max-width: 779px) {
  .home__left picture {
    translate: -47% 0;
  }
  .home__left picture img {
    min-width: 500px;
    min-height: 300px;
  }
}

.home__right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../public/img/home/home_right_bg.png");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1079px) {
  .home__right {
    width: 100%;
    height: 50%;
    top: 50%;
    background-position: center top;
  }
}
.home__right picture {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.home__right picture:first-of-type {
  width: 314px;
  height: 314px;
  bottom: auto;
  top: 190px;
  right: 50%;
  translate: 50% 0;
  z-index: 0;
  mix-blend-mode: color-dodge;
  filter: hue-rotate(-3deg);
}
@media screen and (max-width: 1439px) {
  .home__right picture:first-of-type {
    width: 240px;
    top: 100px;
  }
}
@media screen and (max-width: 1079px) {
  .home__right picture:first-of-type {
    width: 150px;
    top: 0;
    translate: 50% 0;
    opacity: 0.8;
  }
}
.home__right picture:last-of-type {
  translate: -5.5% 0;
}
@media screen and (max-width: 1439px) {
  .home__right picture:last-of-type {
    translate: -12% 0;
  }
}
@media screen and (max-width: 1079px) {
  .home__right picture:last-of-type {
    left: 50%;
    translate: -60% 0;
    min-width: 535px;
    min-height: 366px;
  }
}

.about {
  padding-top: 154px;
  padding-bottom: 465px;
  background-image: url("../public/img/about/about_bg.png");
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about {
    padding-top: 80px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 779px) {
  .about {
    padding-top: 33px;
    padding-bottom: 112px;
    background-position: 78% center;
  }
}
@media screen and (max-width: 540px) {
  .about {
    background-position: 70% center;
  }
}
.about:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.72;
  z-index: -1;
}

.about__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1079px) {
  .about__container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 58px;
  }
}

.about__title {
  margin-bottom: 23px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 62px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .about__title {
    text-align: center;
  }
}
@media screen and (max-width: 779px) {
  .about__title {
    font-size: 55px;
  }
}

.about__description {
  max-width: 625px;
  margin-bottom: 47px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .about__description {
    text-align: center;
  }
}
@media screen and (max-width: 779px) {
  .about__description {
    font-size: 18px;
  }
  .about__description span.hide {
    display: none;
  }
}
.about__description:before {
  content: "";
  width: 146px;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  bottom: -23px;
}
@media screen and (max-width: 1079px) {
  .about__description:before {
    left: 50%;
    translate: -50% 0;
  }
}
@media screen and (max-width: 779px) {
  .about__description:before {
    display: none;
  }
}

.about__btn {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .about__btn {
    display: block;
    text-align: center;
  }
}
.about__btn:hover {
  filter: brightness(0.8);
}
.about__btn:active {
  filter: brightness(1);
}

.about__statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__statistics li span {
  font-size: 118px;
  color: #fff;
  line-height: 80%;
}
@media screen and (max-width: 779px) {
  .about__statistics li span {
    font-size: 78px;
  }
}
.about__statistics li h3 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .about__statistics li h3 {
    font-size: 13px;
  }
}
.about__statistics li:nth-of-type(2n) span {
  font-size: 118px;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 779px) {
  .about__statistics li:nth-of-type(2n) span {
    font-size: 78px;
  }
}
.about__statistics li:nth-of-type(2n) h3 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 779px) {
  .about__statistics li:nth-of-type(2n) h3 {
    font-size: 13px;
  }
}

.about__ticker {
  max-width: 100%;
  height: 80px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
@media screen and (max-width: 779px) {
  .about__ticker {
    height: 58px;
  }
}

.ticker__wrap {
  width: fit-content;
  height: 100%;
  padding-right: 400px;
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 20s linear infinite;
}
@media screen and (max-width: 779px) {
  .ticker__wrap {
    padding-right: 280px;
    gap: 88px;
  }
}
.ticker__wrap span {
  font-size: 32px;
  line-height: 100%;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .ticker__wrap span {
    font-size: 22px;
  }
}
.ticker__wrap span:nth-of-type(2n) {
  font-size: 32px;
  line-height: 100%;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 779px) {
  .ticker__wrap span:nth-of-type(2n) {
    font-size: 22px;
  }
}

@keyframes tickerMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.tokenomic {
  padding-top: 252px;
  padding-bottom: 347px;
  background-image: url("../public/img/tokenomic/tokenomic_bg.png");
  background-size: cover;
  background-position: center top;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .tokenomic {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 779px) {
  .tokenomic {
    padding-top: 22px;
    padding-bottom: 156px;
    background-position: -260px top;
  }
}

.tokenomic__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1079px) {
  .tokenomic__container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 779px) {
  .tokenomic__container {
    gap: 115px;
  }
}

.tokenomic__statistics {
  padding: 40px 50px;
  border-radius: 25px;
  background: radial-gradient(125.82% 123.17% at 92.79% 100%, rgb(46, 46, 46) 0%, rgb(0, 0, 0) 100%);
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics {
    padding: 22px 30px;
    border-radius: 14px;
  }
}
.tokenomic__statistics h3 {
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  gap: 104px;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics h3 {
    margin-bottom: 20px;
    gap: 60px;
  }
}
.tokenomic__statistics h3 span:first-of-type {
  font-size: 51px;
  line-height: 99%;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics h3 span:first-of-type {
    font-size: 29px;
  }
}
.tokenomic__statistics h3 span:last-of-type {
  font-size: 31px;
  color: #bcbcbc !important;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics h3 span:last-of-type {
    font-size: 17px;
  }
}
.tokenomic__statistics ul {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics ul {
    margin-bottom: 13px;
    gap: 13px;
  }
}
.tokenomic__statistics ul li {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics ul li {
    translate: -3% 0;
  }
}
.tokenomic__statistics ul li:before {
  content: url("../public/img/tokenomic/tokenomic_icon.png");
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics ul li:before {
    scale: 0.6;
  }
}
.tokenomic__statistics ul li h4 {
  margin-right: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 31px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics ul li h4 {
    margin-right: 6px;
    font-size: 17px;
  }
}
.tokenomic__statistics ul li span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 31px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics ul li span {
    font-size: 17px;
  }
}
.tokenomic__statistics > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.tokenomic__statistics > div a {
  width: 173px;
  height: 42px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  transition: filter 200ms ease;
}
@media screen and (max-width: 779px) {
  .tokenomic__statistics > div a {
    width: 98px;
    height: 24px;
    border-radius: 3px;
    font-size: 10px;
  }
}
.tokenomic__statistics > div a:hover {
  filter: brightness(0.8);
}
.tokenomic__statistics > div a:active {
  filter: brightness(1);
}

.tokenomic__token {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tokenomic__token-code {
  max-width: 250px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 779px) {
  .tokenomic__token-code {
    max-width: 140px;
    font-size: 10px;
  }
}

.tokenomic__token-copy {
  flex-shrink: 0;
  transition: scale 200ms ease;
}
@media screen and (max-width: 779px) {
  .tokenomic__token-copy svg {
    width: 11px;
  }
}
.tokenomic__token-copy:hover {
  scale: 1.1;
}
.tokenomic__token-copy:active {
  scale: 1;
}

.tokenomic__title {
  margin-bottom: 18px;
}
@media screen and (max-width: 1079px) {
  .tokenomic__title {
    text-align: center;
  }
}
@media screen and (max-width: 779px) {
  .tokenomic__title {
    margin-bottom: 58px;
  }
}
.tokenomic__title span {
  font-size: 62px;
  text-transform: uppercase;
}
@media screen and (max-width: 779px) {
  .tokenomic__title span {
    font-size: 55px;
  }
}
.tokenomic__title span:first-of-type {
  color: #fff;
}
.tokenomic__title span:last-of-type {
  margin-left: 14px;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 779px) {
  .tokenomic__title span:last-of-type {
    background-image: none;
    -webkit-text-fill-color: #fff;
    color: #fff;
  }
}

.tokenomic__description {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 1079px) {
  .tokenomic__description {
    max-width: 560px;
    text-align: center;
  }
}

.tokenomic__ticker {
  max-width: 100%;
  height: 80px;
  background-color: #000;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 779px) {
  .tokenomic__ticker {
    height: 58px;
  }
}

.buy {
  min-height: 1067px;
  background-image: url("../public/img/buy/buy_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 1439px) {
  .buy {
    min-height: 1400px;
  }
}
@media screen and (max-width: 779px) {
  .buy {
    min-height: 980px;
    background-position: 58% top;
  }
}
.buy:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../public/img/buy/buy_layers_front.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 779px) {
  .buy:before {
    background-position: 58% top;
  }
}

.buy__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.buy__title > span:first-of-type {
  font-size: 453px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  top: 45px;
  right: 10px;
  z-index: 0;
}
@media screen and (max-width: 1439px) {
  .buy__title > span:first-of-type {
    font-size: 300px;
    top: 80px;
    right: 50%;
    translate: 50% 0;
  }
}
@media screen and (max-width: 779px) {
  .buy__title > span:first-of-type {
    top: 57px;
    font-size: 144px;
  }
}
.buy__title > span:first-of-type > span {
  font-size: 151px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -85% 30%;
}
@media screen and (max-width: 1439px) {
  .buy__title > span:first-of-type > span {
    top: 440px;
    translate: -20% 0;
    font-size: 123px;
  }
}
@media screen and (max-width: 779px) {
  .buy__title > span:first-of-type > span {
    top: 320px;
    translate: -100% 0;
  }
}
.buy__title > span:last-of-type {
  font-size: 201px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  top: 503px;
  right: 0;
  z-index: 2;
  clip-path: polygon(70% 0, 63.5% -2%, 91% 28.5%, 102% -17%, 100% 100%, 0 100%, 0 0);
}
@media screen and (max-width: 1439px) {
  .buy__title > span:last-of-type {
    top: 620px;
    right: 50%;
    translate: 50% 0;
    font-size: 150px;
    clip-path: none;
  }
}
@media screen and (max-width: 1439px) and (max-width: 779px) {
  .buy__title > span:last-of-type {
    font-size: 91px;
    top: 520px;
  }
}

.buy__steps {
  min-width: max-content;
  position: absolute;
  top: 264px;
  left: 15px;
  z-index: 3;
  padding: 50px;
  border-radius: 24px;
  background: linear-gradient(51deg, #d13f05 0%, #f67205 29%, #f67605 37%, #f68405 45%, #f69b05 54%, #f6a205 56%, #f69005 60%, #f67f05 64%, #f67505 69%, #f67205 76%, #d13f05 100%);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 1439px) {
  .buy__steps {
    top: 100%;
    left: 50%;
    translate: -50% 120%;
  }
}
@media screen and (max-width: 779px) {
  .buy__steps {
    padding: 32px;
    border-radius: 16px;
    gap: 21px;
    top: 640px;
    translate: -50% 0;
  }
}
.buy__steps li {
  display: flex;
  flex-direction: column;
}
.buy__steps li::after {
  content: "";
  width: 143px;
  height: 4px;
  margin-top: 32px;
  border-radius: 20px;
  background-color: #fff;
  justify-self: end;
  align-self: center;
}
@media screen and (max-width: 779px) {
  .buy__steps li::after {
    width: 96px;
    height: 3px;
    margin-top: 21px;
  }
}
.buy__steps li:last-of-type::after {
  display: none;
}
.buy__steps li h3 {
  margin-bottom: 20px;
  display: flex;
  align-items: end;
  gap: 10px;
}
@media screen and (max-width: 779px) {
  .buy__steps li h3 {
    gap: 6px;
  }
}
.buy__steps li h3 span:first-of-type {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .buy__steps li h3 span:first-of-type {
    font-size: 19px;
  }
}
.buy__steps li h3 span:last-of-type {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .buy__steps li h3 span:last-of-type {
    font-size: 14px;
  }
}
.buy__steps li p {
  max-width: 398px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 19px;
  color: #fff;
}
@media screen and (max-width: 779px) {
  .buy__steps li p {
    max-width: 264px;
    font-size: 13px;
  }
}

.footer {
  padding-top: 65px;
  padding-bottom: 76px;
  background-color: #000;
}

.footer__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}

.footer__title {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer__title span:first-of-type {
  font-size: 39px;
  text-transform: uppercase;
  color: #fff;
}
.footer__title span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 62px;
  translate: 0 -50%;
  font-size: 39px;
  text-transform: uppercase;
  color: #fff;
}
.footer__title span:last-of-type {
  padding-left: 22px;
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: #b71b1b;
}

.footer__navigation h3 {
  margin-bottom: 18px;
  font-size: 24px;
  color: #fff;
}
.footer__navigation ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font3);
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.footer__token {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__token-code {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer__token-copy {
  flex-shrink: 0;
  transition: scale 200ms ease;
}
.footer__token-copy:hover {
  scale: 1.1;
}
.footer__token-copy:active {
  scale: 1;
}

.footer__socials h3 {
  margin-bottom: 19px;
  font-size: 24px;
  color: #fff;
}
.footer__socials > div {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__socials > div a:hover svg {
  transition: scale 200ms ease;
  scale: 1.1;
}
.footer__socials > div a:active svg {
  scale: 1;
}
.footer__socials > a {
  width: 182px;
  height: 46px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 22px;
  color: #000;
  transition: filter 200ms ease;
}
.footer__socials > a:hover {
  filter: brightness(0.8);
}
.footer__socials > a:active {
  filter: brightness(1);
}

/*# sourceMappingURL=styles.css.map */
