.footer {
  padding-top: 65px;
  padding-bottom: 76px;
  background-color: #000;

  @media screen and (max-width: 779px) {
    padding-top: 180px;
    padding-bottom: 38px;
  }
}

.footer__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;

  @media screen and (max-width: 1079px) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  @media screen and (max-width: 779px) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.footer__title {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: 1079px) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  @media screen and (max-width: 779px) {
    margin-bottom: 46px;
  }

  span {
    &:first-of-type {
      line-height: 90%;
      font-size: 39px;
      text-transform: uppercase;
      color: #fff;
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 50%;
      right: 40px;
      translate: 0 -50%;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 39px;
      text-transform: uppercase;
      color: #fff;
    }

    &:last-of-type {
      line-height: 90%;
      padding-left: 22px;
      font-family: var(--third-family);
      font-weight: 500;
      font-size: 45px;
      text-transform: uppercase;
      text-align: center;
      color: #b71b1b;
    }
  }
}

.footer__navigation {
  @media screen and (max-width: 779px) {
    margin-bottom: 72px;
  }

  h3 {
    margin-bottom: 18px;
    font-size: 24px;
    color: #fff;

    @media screen and (max-width: 779px) {
      text-align: center;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 779px) {
      align-items: center;
    }

    a {
      font-family: var(--font3);
      font-weight: 500;
      font-size: 17px;
      color: #fff;
      transition: color 200ms ease;

      &:hover {
        color: #ccc;
      }
      &:active {
        color: #fff;
      }
    }
  }
}

.footer__token {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;

  @media screen and (max-width: 779px) {
    margin-bottom: 72px;
  }
}

.footer__token-code {
  max-width: 500px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (max-width: 779px) {
    max-width: 200px;
  }
}

.footer__token-copy {
  flex-shrink: 0;
  transition: scale 200ms ease;

  &:hover {
    scale: 1.1;
  }
  &:active {
    scale: 1;
  }
}

.footer__socials {
  h3 {
    margin-bottom: 19px;
    font-size: 24px;
    color: #fff;

    @media screen and (max-width: 779px) {
      margin-bottom: 35px;
      text-align: center;
    }
  }

  & > div {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 12px;

    @media screen and (max-width: 779px) {
      margin-bottom: 35px;
    }

    a {
      &:hover {
        svg {
          transition: scale 200ms ease;
          scale: 1.1;
        }
      }
      &:active {
        svg {
          scale: 1;
        }
      }
    }
  }

  & > a {
    width: 182px;
    height: 46px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font3);
    font-weight: 400;
    font-size: 22px;
    color: #000;
    transition: filter 200ms ease;

    &:hover {
      filter: brightness(0.7);
    }
    &:active {
      filter: brightness(1);
    }
  }
}
